body {
	font-family: serif;
	font-size: 14px;
}

td, th {
	border-right: 1px solid #000;
	padding: 1px;
}

ol {
	list-style: none;
}

td:last-child, th:last-child {
	border-right: 0;
}

table {
	border: 1px solid #000;
	text-align: left;
	border-collapse: collapse;
	font-size: 20px;
}

caption {
	padding: 5px 0;
	font-size: 14px;
	font-family: serif;
	width: fit-content;
}

pre {
	border: 1px solid;
	width: fit-content;
}

figure {
	display: inline-block;
}